/InterpreteurCouleur.class
/InterpreteurCouleurCOR.class
/InterpreteurCouleurCORBlack.class
/InterpreteurCouleurCORBlue.class
/InterpreteurCouleurCORCyan.class
/InterpreteurCouleurCORGreen.class
/InterpreteurCouleurCORRed.class
/InterpreteurCouleurCORYellow.class
